.container {
  padding: 10px;
  display: flex;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.selectedcontainer {
  padding: 10px;
  display: flex;
  border: 2px solid blue;
  border-radius: 10px;
}

.item {
  display: flex;
}

.value {
  padding-right: 20px;
}

.key {
  font-weight: 600;
  margin-right: 5px;
}

.update {
  background-color: blue;
  color: white;
}

.delete {
  background-color: red;
  color: white;
}
