.container {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

button {
  height: 35px;
  width: 70px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
}

.update {
  background-color: blue;
  color: white;
  margin-right: 4px;
}

.delete {
  background-color: brown;
  color: white;
}

.buttoncontainer {
}

.hidden {
  visibility: hidden;
}

.add {
  background-color: darkgreen;
  color: white;
}
