.container {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

button {
  height: 20px;
}

.update {
  background-color: blue;
  color: white;
}

.delete {
  background-color: brown;
  color: white;
}

.buttoncontainer {
}

.hidden {
  visibility: hidden;
}

.add {
  background-color: darkgreen;
  color: white;
}
